<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h3 class="card-title">PRONTUÁRIO:</h3>
                    </div>
                    <div style="font-size: 22px;" class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>DADOS PESSOAIS</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input class="size-font-input" matInput placeholder="NOME:" disabled value="LUCAS DOS SANTOS ">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="RG:" disabled value="12.123.123-12">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="DATA DE NASCIMENTO:" disabled value="12/12/1993">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="IDADE:" disabled value="25">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>FORMULÁRIO OFTALMOLÓGICO</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="*ACUIDADE VISUAL SEM CORREÇÃO:" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="*REFRAÇÃO:" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="*ACUIDADE CORRIGIDA:" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="*BIOMICROSCOPIA:" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="*FUNDOSCOPIA:" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="*HIPÓTESE DIAGNOSTICA:" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="*CONDUTA:" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="OBSERVAÇÕES:"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-warning pull-right">FINALIZAR CONSULTA</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>